In [1]:
import pandas as pd
import csv

final = pd.read_csv("final_dog_dataset.csv")
final.head()

,Unnamed: 0,Ranked Number (AKC),Breed Name,Breed Class (AKC),PuppyBowl_Number Contestants (Last 5 Years),Westminster (all time),KnowYourMeme,Wiki_Path,Wiki_Num_Page,Wiki_Wordcount
0,0,1,Retriever (Labrador),Sporting,11,0,1,labresults.json,10,8834
1,1,2,German Shepherd Dogs,Herding/Guardian,4,2,0,germanshepresults.json,15,16449
2,2,3,Retrievers (Golden),Sporting,1,0,2,goldenretresults.json,17,22060
3,3,5,Bulldogs,Non-sporting,2,2,0,bulldogresults.json,6,5067
4,4,6,Beagles,Hound,3,2,0,beagleresults.json,19,48701

First, I was interested in how many separate breeds belonged to different classes. By using the built-in function ".groupby" and then ".count", I was able to select the different AKC breed classes and return a count of how many breed names were in each class.

In [2]:
breed_class = final.groupby("Breed Class (AKC)")['Breed Name'].count()
breed_class

Breed Class (AKC)
Herding                   2
Herding/Guardian          1
Hound                     1
Non-sporting              3
Sporting                  4
Standard/Miniature/Toy    1
Terrier                   1
Toy                       8
Working                   3
Name: Breed Name, dtype: int64

As a second comparison, also using .groupby, I was curious how many Wikipedia pages were associated with each AKC breed class. Using another built-in function of ".sum", I was able to produce the following results:

In [3]:
class_per_page = final.groupby("Breed Class (AKC)")['Wiki_Num_Page'].sum()
class_per_page

Breed Class (AKC)
Herding                    9
Herding/Guardian          15
Hound                     19
Non-sporting              13
Sporting                  34
Standard/Miniature/Toy     8
Terrier                    1
Toy                       31
Working                    9
Name: Wiki_Num_Page, dtype: int64

I experimented for a bit using matplotlib but found that I was low on time and needed longer to experiment to fully understand how to use the code. Instead, I copied this data into Excel ("clusteringdata_excelPlots.xlsx") and produced graphs in that manner.