# Reproducing Notebook

Due to the unique nature of my project and the complexities involving being able to reproduce this project using code, this notebook will predominantly be a markdown file describing the steps I took in creating this project.

# First steps: Gathering the data

Before being able to investigate any questions, I first needed to determine which datasets I would be using in this project. While many data sources were considered (some even considered and then discarded after beginning the extraction process), I eventually settled on the following sources and their respective websites. Within my documentation on Github, it is noted exactly which days I first access these sites and when I began to pull data. Versions of each site are saved locally on my computer from the day I began extraction.

**My sources:**
* American Kennel Club (AKC), Breed Popularity Statistics: https://www.akc.org/expert-advice/news/most-popular-dog-breeds-full-ranking-list/;
* Westminster Dog Show - Best in Show: https://fwkc-web-prod.corebine.com/en/best-in-show-winners,
* The Puppybowl: http://www.animalplanet.com/tv-shows/puppy-bowl/photos/puppy-bowl-xiii-starting-lineup/,
http://www.animalplanet.com/tv-shows/puppy-bowl/photos/puppy-bowl-xii-starting-lineup/,
http://www.animalplanet.com/tv-shows/puppy-bowl/photos/xi-starting-lineup/,
http://www.animalplanet.com/tv-shows/puppy-bowl/photos/x-starting-lineup/,
http://www.animalplanet.com/tv-shows/puppy-bowl/photos/ix-starting-lineup-pictures/.
* KnowYourMeme: https://knowyourmeme.com/.
* Wikipedia: https://www.wikipedia.org.

**Pulling the data**
My data was gathered in several different ways. For Westminster and AKC, the data was available in tabular format and easily copy/pasted into Excel to then be cleaned. KnowYourMeme data was gathered manually and entered into an Excel file. For KnowYourMeme, "dog" was searched within the database. Any memes marked as "confirmed" by the site were noted, along with the year associated with their emergence and the dog breed associated with said meme. For example, the "Doge" meme, sporting a Shiba Inu, first appeared in 2010, only to pick up popularity in 2013. The PuppyBowl data, pulled from the starting lineups from the past 5 years. This data was pulled using an XPath expression: //span[@class='more-information global-description']/span/text(). The results were then copy/pasted into an Excel file to then be cleaned. Finally, the Wikipedia data was accessed utilizing a JSON script written by Elizabeth Wickes. The resulting JSON files were then read in using Python and exported to Excel for cleaning purposes.

# American Kennel Club

This data file possessed very minimal cleaning. It was uploaded into OpenRefine. This data was text faceted, compared, and then hand-edited as a means of spell checking and identifying that each data point present was unique. The cleaned data was then exported to a new Excel file. In total, the cleaning of this dataset took approximately 10 to 15 minutes. The cleaned file can be found below. Only the data from 2017 was used in the final dataset.

In [1]:
import pandas as pd
akc = pd.read_excel("AKC_Popularity_Rankings.xlsx")
print(akc)

                              Breed  2017 Rank  2016 Rank  2015 Rank  \
0             Retrievers (Labrador)          1        1.0        1.0
1              German Shepherd Dogs          2        2.0        2.0
2               Retrievers (Golden)          3        3.0        3.0
3                   French Bulldogs          4        6.0        6.0
4                          Bulldogs          5        4.0        4.0
5                           Beagles          6        5.0        5.0
6                           Poodles          7        7.0        8.0
7                       Rottweilers          8        8.0        9.0
8                Yorkshire Terriers          9        9.0        7.0
9     Pointers (German Shorthaired)         10       11.0       11.0
10                           Boxers         11       10.0       10.0
11                 Siberian Huskies         12       12.0       12.0
12                       Dachshunds         13       13.0       13.0
13                      Great Danes         14       14.0       15.0
14            Pembroke Welsh Corgis         15       18.0       20.0
15               Doberman Pinschers         16       15.0       14.0
16             Australian Shepherds         17       16.0       17.0
17             Miniature Schnauzers         18       17.0       16.0
18   Cavalier King Charles Spaniels         19       19.0       18.0
19                         Shih Tzu         20       20.0       19.0
20                  Boston Terriers         21       21.0       22.0
21                      Pomeranians         22       22.0       21.0
22                         Havanese         23       23.0       24.0
23               Shetland Sheepdogs         24       24.0       23.0
24            Bernese Mountain Dogs         25       27.0       29.0
25                        Brittanys         26       25.0       26.0
26      Spaniels (English Springer)         27       26.0       27.0
27                         Mastiffs         28       28.0       25.0
28                Spaniels (Cocker)         29       29.0       30.0
29                          Vizslas         30       31.0       32.0
..                              ...        ...        ...        ...
160               Spaniels (Sussex)        161      172.0      173.0
161                            Pumi        162        NaN        NaN
162                      Komondorok        163      177.0      163.0
163          Spaniels (Irish Water)        164      150.0      144.0
164                   Ibizan Hounds        165      152.0      160.0
165                          Plotts        166      158.0      149.0
166       Spaniels (American Water)        167      156.0      157.0
167             Scottish Deerhounds        168      154.0      152.0
168                         Lowchen        169      171.0      161.0
169               Norwegian Buhunds        170      174.0      165.0
170       Retrievers (Curly-Coated)        171      164.0      151.0
171                   Skye Terriers        172      178.0      175.0
172               Finnish Lapphunds        173      173.0      169.0
173                  Pharaoh Hounds        174      168.0      171.0
174                     Canaan Dogs        175      181.0      170.0
175        Polish Lowland Sheepdogs        176      169.0      164.0
176                   Finnish Spitz        177      179.0      178.0
177     American English Coonhounds        178      170.0      166.0
178                        Chinooks        179      175.0      177.0
179              Pyrenean Shepherds        180      176.0      176.0
180            Bergamasco Sheepdogs        181      184.0      174.0
181         Dandie Dinmont Terriers        182      167.0      172.0
182                        Harriers        183      186.0      183.0
183               Cirneco dell’Etna        184      183.0      162.0
184                  Cesky Terriers        185      182.0      179.0
185                     Otterhounds        186      166.0      180.0
186              American Foxhounds        187      189.0      181.0
187                        Sloughis        188      185.0        NaN
188               English Foxhounds        189      187.0      184.0
189            Norwegian Lundehunds        190      188.0      182.0

     2014 Rank  2013 Rank
0          1.0        1.0
1          2.0        2.0
2          3.0        3.0
3          9.0       11.0
4          4.0        5.0
5          5.0        4.0
6          7.0        8.0
7         10.0        9.0
8          6.0        6.0
9         12.0       13.0
10         8.0        7.0
11        13.0       14.0
12        11.0       10.0
13        15.0       16.0
14        22.0       24.0
15        14.0       12.0
16        18.0       20.0
17        16.0       17.0
18        19.0       18.0
19        17.0       15.0
20        23.0       23.0
21        20.0       19.0
22        25.0       25.0
23        21.0       21.0
24        32.0       32.0
25        27.0       30.0
26        28.0       28.0
27        26.0       26.0
28        30.0       29.0
29        34.0       34.0
..         ...        ...
160      175.0      162.0
161        NaN        NaN
162      168.0      159.0
163      152.0      141.0
164      159.0      151.0
165      154.0      149.0
166      160.0      144.0
167      157.0      165.0
168      165.0      154.0
169      172.0      166.0
170      163.0      163.0
171      177.0      161.0
172      173.0      171.0
173      164.0      160.0
174      176.0      164.0
175      170.0      157.0
176      174.0      170.0
177      156.0      146.0
178      171.0      156.0
179      178.0      169.0
180       96.0        NaN
181      167.0      168.0
182      181.0      173.0
183      117.0        NaN
184      182.0      174.0
185      179.0      172.0
186      180.0      176.0
187        NaN        NaN
188      183.0      177.0
189      184.0      175.0

[190 rows x 6 columns]

# Westminster Dog Show

Minimal cleaning was necessary for this dataset. Several rows that were indicated as missing data were edited out in Excel prior to being uploaded into OpenRefine. Once in OpenRefine, rows deemed unnecessary (name of dog, names of owners, and names of judges) were removed. This left just the breed data. Whitespace was removed. The breed column was then text faceted and evaluated to detect any spelling inconsistencies. Once cleaned, the data was then exported to a new Excel file and then sorted alphabetically in preparation for combining data. In total, the cleaning took approximately 5 to 10 minutes total to complete.

The data is stored in an Excel file. The cleaned file only includes one column (dog breed) and 112 rows. The column is the names of each dog breed and each row reflects a winning dog. The information in this column is textual and is being treated as categorical.

There is a single column in the cleaned version of this dataset. This column contains 112 rows. This singular column contains the breed of the dog that won the Westminster Dog Show from 1907 until 2017 (the 2018 awards had not yet taken place when the data was extracted). There are missing values in this dataset.

In [2]:
westminster = pd.read_excel("Cleaned_Westminster.xlsx")
print(westminster)

     YEAR                         BREED
0    1907            Smooth Fox Terrier
1    1908            Smooth Fox Terrier
2    1909            Smooth Fox Terrier
3    1910            Smooth Fox Terrier
4    1911              Scottish Terrier
5    1912              Airedale Terrier
6    1913                       Bulldog
7    1914          Old English Sheepdog
8    1915              Wire Fox Terrier
9    1916              Wire Fox Terrier
10   1917              Wire Fox Terrier
11   1918          Bull Terrier (White)
12   1919              Airedale Terrier
13   1920              Wire Fox Terrier
14   1921  Cocker Spaniel (Parti-Color)
15   1922              Airedale Terrier
16   1923                           NaN
17   1924              Sealyham Terrier
18   1925                       Pointer
19   1926              Wire Fox Terrier
20   1927              Sealyham Terrier
21   1928              Wire Fox Terrier
22   1929                Collie (Rough)
23   1930              Wire Fox Terrier
24   1931              Wire Fox Terrier
25   1932                       Pointer
26   1933              Airedale Terrier
27   1934              Wire Fox Terrier
28   1935             Poodle (Standard)
29   1936              Sealyham Terrier
..    ...                           ...
82   1989             Doberman Pinscher
83   1990                     Pekingese
84   1991             Poodle (Standard)
85   1992              Wire Fox Terrier
86   1993      English Springer Spaniel
87   1994               Norwich Terrier
88   1995              Scottish Terrier
89   1996               Clumber Spaniel
90   1997            Standard Schnauzer
91   1998               Norwich Terrier
92   1999                      Papillon
93   2000      English Springer Spaniel
94   2001                  Bichon Frise
95   2002            Poodle (Miniature)
96   2003            Kerry Blue Terrier
97   2004                  Newfoundland
98   2005    German Shorthaired Pointer
99   2006        Bull Terrier (Colored)
100  2007      English Springer Spaniel
101  2008              Beagle (15 Inch)
102  2009                Sussex Spaniel
103  2010              Scottish Terrier
104  2011            Scottish Deerhound
105  2012                     Pekingese
106  2013                 Affenpinscher
107  2014              Wire Fox Terrier
108  2015              Beagle (15 Inch)
109  2016    German Shorthaired Pointer
110  2017           German Shepherd Dog
111  2018                  Bichon Frise

[112 rows x 2 columns]

# The Puppybowl

This data source required quite a bit of cleaning, all of which was done in either Execl or OpenRefine, with each year possessing its own specific data cleaning needs. Years 10 and 11 were separated by colons as deliminators. Years 12 - 15 were separated by slashes (however, also contained colons indication name, breed, sex, and location). The first pass of restructuring the data, not to be separated by punctuation but placed into individual columns, occured in Excel. This largely separated out what I needed, but extensive cleaning still needed to occur. Each dataset was uploaded individually into OpenRefine.

All files ended up with unnecessary columns that were removed, such as name, sex, fun fact, and age. For X, due to the delimination, the text within "Breed" all ended with the word "Sex" appended at the end. Using a simple Python script, I removed the word from the Breed column. Additionally, a few of the longer breed names had their information cut off when text was initially extracted from the website, so I manually added the final letters to complete the breed names when needed. XI ended up with "Breed: " before the names of each breed which, likewise, was removed using Python within OpenRefine. XII had the most cleaning involved, as the raw data included missing values. Within the raw data, the second column represented team name. However, not every dog had a team name entered. Therefore, some values from the third column, Breed, ended up populating the second column. Since this dataset was relatively small, the migration from one column to the next was done by hand. XIII and XIV were the easiest to clean, as the raw data separated cleanly once parsed by deliminator. However, these later years denoted mixed breed by using "-" instead of the earlier "/". I ran a simple Python script to replace all instances of "-" with "/" to create uniformity across all datasets.

Each dataset was then text faceted individually to check spelling. Once cleaned, all five files were exported into new Excel files. The data from these were all taken and then combined into a master file. This was then once again uploaded into OpenRefine. The master file had all of the whitespaces removed and then I once again text faceted to ensure spelling was correct and uniform. Once exported back into Excel, the column was sorted alphabetically in preparation for being added to the combined file. Entirely, this cleaning process took approximately 4 hours.

**This first example is of an uncleaned dataset: XII**

In [3]:
xii_lineup = pd.read_excel("XII_Lineup.xlsx")
print(xii_lineup)

                 Name                                     Team  \
0      Name: Atticus                  Breed: Husky / Labrador
1        Name: Bella                               Team: Ruff
2       Name: Bijoux                              Team: Fluff
3        Name: Boris                          Breed: Havanese
4     Name: Brooklyn                   Breed: German Shepherd
5      Name: Buttons                              Team: Fluff
6     Name: Carolina    Breed: American Staffordshire Terrier
7      Name: Charlie                              Team: Fluff
8       Name: ChiChi                         Breed: Chihuahua
9       Name: Clover                      Breed: Basset Hound
10      Name: Cooper                              Team: Fluff
11    Name: Countess                              Team: Fluff
12       Name: Darby                               Team: Ruff
13       Name: Dilly                               Team: Ruff
14      Name: Gordon                              Team: Fluff
15     Name: Gryffin                              Team: Fluff
16      Name: Hailey                               Team: Ruff
17        Name: Hank           Breed: Yellow Labrador / Husky
18      Name: Harper                               Team: Ruff
19       Name: Jimmy                       Breed: Spaniel mix
20       Name: Kevin                              Team: Fluff
21        Name: Leah                               Team: Ruff
22       Name: Magic                              Team: Fluff
23      Name: Marley                               Team: Ruff
24  Name: Miss Sassy                              Team: Fluff
25       Name: Moose                            Breed: Poodle
26        Name: Otis                           Breed: Bulldog
27       Name: Piper                               Team: Ruff
28       Name: Posey                              Team: Fluff
29  Name: Puddin Pop                           Breed: Bulldog
30      Name: Ranger                  Breed: Springer Spaniel
31     Name: Raphael                               Team: Ruff
32        Name: Roxy                Breed: French Bulldog mix
33       Name: Rugby                           Breed: Terrier
34      Name: Sailor                              Team: Fluff
35       Name: Samoa                              Team: Fluff
36       Name: Scout               Breed: Australian Shepherd
37      Name: Shylah                              Team: Fluff
38      Name: Splash                              Team: Fluff
39        Name: Star              Breed: Chow Chow / Labrador
40      Name: Stella                               Team: Ruff
41       Name: Timon                               Team: Ruff
42        Name: Toby                               Team: Ruff
43      Name: Tidley                               Team: Ruff
44    Name: Wrinkles                              Team: Fluff
45      Name: Rixton                               Team: Ruff
46      Name: Timber                               Team: Ruff
47  Name: Andy Cohen                               Team: Ruff
48        Name: Tate                               Team: Ruff

                               Breed               Sex               Age  \
0                       Sex: Female    Age: 12 weeks …               NaN
1                Breed: Rat Terrier       Sex: Female          Age: 20 …
2                 Breed: Great Dane       Sex: Female           Age: 12…
3                         Sex: Male     Age: 16 weeks        Shelter: F…
4                       Sex: Female    Age: 13 weeks …               NaN
5                    Breed: Shih Tzu      Sex: Female         Age: 13 w…
6                       Sex: Female                  …               NaN
7            Breed: Feist / Whippet         Sex: Male               Age…
8                       Sex: Female     Age: 15 weeks            Shelte…
9                       Sex: Female     Age: 18 weeks               She…
10   Breed: Great Pyrenees / Collie          Sex: Mal…               NaN
11           Breed: English Bulldog       Sex: Female                  …
12      Breed: Jack Russell Terrier         Sex: Male                 A…
13            Breed: Terrier Poodle       Sex: Female             Age: …
14            Breed: English Setter         Sex: Male             Age: …
15      Breed: Old English Sheepdog        Sex: Male …               NaN
16       Breed: Wire Haired Terrier       Sex: Female                  …
17                        Sex: Male      Age: 12 week…               NaN
18                  Breed: Pit Bull         Sex: Male      Age: 13 week…
19                        Sex: Male     Age: 12 weeks           Shelter…
20                 Breed: Schnauzer         Sex: Male       Age: 13 wee…
21                Breed: Rottweiler       Sex: Female        Age: 15 we…
22                 Breed: Chihuahua         Sex: Male       Age: 16 wee…
23        Breed: Labrador Retriever       Sex: Female                  …
24            Breed: Boston Terrier       Sex: Female                  …
25                        Sex: Male     Age: 14 weeks      Shelter: DEN…
26                        Sex: Male     Age: 17 weeks      Shelter: WIL…
27            Breed: Border Terrier       Sex: Female             Age: …
28                  Breed: Shih Tzu       Sex: Female        Age: 14 we…
29                      Sex: Female     Age: 14 weeks              Shel…
30                        Sex: Male     Age: 16 weeks                 S…
31                  Breed: Pit Bull         Sex: Male       Age: 13 wee…
32                      Sex: Female     Age: 15 weeks                  …
33                        Sex: Male     Age: 19 weeks       Shelter: AN…
34     Breed: Australian Cattle Dog        Sex: Male …               NaN
35          Breed: Husky / Shepherd         Sex: Male              Age:…
36                      Sex: Female     Age: 18 weeks…               NaN
37      Breed: Wired Haired Terrier       Sex: Female…               NaN
38            Breed: Great Pyrenees       Sex: Female               Age…
39                      Sex: Female     Age: 20 weeks…               NaN
40     Breed: Dachshund / Chihuahua       Sex: Female…               NaN
41                   Breed: Terrier         Sex: Male    Age: 13 weeks …
42                   Breed: Maltese         Sex: Male     Age: 18 weeks
43          Breed: Brussels Griffon       Sex: Female                Ag…
44                  Breed: Shar-Pei         Sex: Male         Age: 12 w…
45         Breed: Shetland Sheepdog         Sex: Male               Age…
46        Breed: Labrador Retriever         Sex: Male                Ag…
47                  Breed: Havanese       Sex: Female            Age: 1…
48                    Breed: Beagle       Sex: Female    Age: 14 weeks …

   Unnamed: 5
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
5         NaN
6         NaN
7         NaN
8         NaN
9         NaN
10        NaN
11        NaN
12        NaN
13        NaN
14        NaN
15        NaN
16        NaN
17        NaN
18        NaN
19        NaN
20        NaN
21        NaN
22        NaN
23        NaN
24        NaN
25        NaN
26        NaN
27        NaN
28        NaN
29        NaN
30        NaN
31        NaN
32        NaN
33        NaN
34        NaN
35        NaN
36        NaN
37        NaN
38        NaN
39        NaN
40        NaN
41        NaN
42          …
43        NaN
44        NaN
45        NaN
46        NaN
47        NaN
48        NaN

**The following is an example of the same dataset cleaned**

In [4]:
copy_xii_lineup = pd.read_excel("Copy of XII_Lineup.xlsx")
print(copy_xii_lineup)

          Name                           Breed
0      Atticus                Husky / Labrador
1        Bella                     Rat Terrier
2       Bijoux                      Great Dane
3        Boris                        Havanese
4     Brooklyn                 German Shepherd
5      Buttons                        Shih Tzu
6     Carolina  American Staffordshire Terrier
7      Charlie                 Feist / Whippet
8       ChiChi                       Chihuahua
9       Clover                    Basset Hound
10      Cooper         Great Pyrenees / Collie
11    Countess                 English Bulldog
12       Darby            Jack Russell Terrier
13       Dilly                  Terrier Poodle
14      Gordon                  English Setter
15     Gryffin            Old English Sheepdog
16      Hailey             Wire Haired Terrier
17        Hank         Yellow Labrador / Husky
18      Harper                        Pit Bull
19       Jimmy                     Spaniel mix
20       Kevin                       Schnauzer
21        Leah                      Rottweiler
22       Magic                       Chihuahua
23      Marley              Labrador Retriever
24  Miss Sassy                  Boston Terrier
25       Moose                          Poodle
26        Otis                         Bulldog
27       Piper                  Border Terrier
28       Posey                        Shih Tzu
29  Puddin Pop                         Bulldog
30      Ranger                Springer Spaniel
31     Raphael                        Pit Bull
32        Roxy              French Bulldog mix
33       Rugby                         Terrier
34      Sailor           Australian Cattle Dog
35       Samoa                Husky / Shepherd
36       Scout             Australian Shepherd
37      Shylah            Wired Haired Terrier
38      Splash                  Great Pyrenees
39        Star            Chow Chow / Labrador
40      Stella           Dachshund / Chihuahua
41       Timon                         Terrier
42        Toby                         Maltese
43      Tidley                Brussels Griffon
44    Wrinkles                        Shar-Pei
45      Rixton               Shetland Sheepdog
46      Timber              Labrador Retriever
47  Andy Cohen                        Havanese
48        Tate                          Beagle

**The following is the master file of combined Puppybowl Data**

In [5]:
master = pd.read_excel("Combined_Datafiles.xlsx")
print(master)

      Labrador Retriever/Terrier Mix
0                             Poodle
1        Labrador Retriever/Sato Mix
2                              Boxer
3                          Dalmatian
4    Bernese Mountain Dog/Poodle Mix
5                    Boxer/Hound Mix
6                 Labrador Retriever
7                    American Eskimo
8                         Poodle Mix
9                            Spaniel
10                      Papillon Mix
11                       Terrier Mix
12          Old English Sheepdog Mix
13                    Great Pyrenees
14             Shih Tzu/Pekingese Mi
15              Brittany Spaniel Mix
16                     Bassett Hound
17              Brittany Spaniel Mix
18                        Poodle Mix
19               Dachshund/Hound Mix
20                          Shih Tzu
21                          Pit Bull
22             Schnauzer/Terrier Mix
23      Labrador Retriever/Husky Mix
24                      Havenese Mix
25    Shih Tzu/Brussells Griffon Mix
26                             Boxer
27            Shih Tzu/Chihuahua Mix
28                    Great Pyrenees
29                 Yorkshire Terrier
..                               ...
190                     Jack Russell
191                  English Pointer
192         Bernese Mountain Dog mix
193                         Labrador
194                      Terrier mix
195                     Pit Bull mix
196                   Cocker Spaniel
197                            Husky
198                  Standard Poodle
199      Sato (Puerto Rican Terrier)
200                           Yorkie
201              Brussels Grifon mix
202    American Pit Bull Terrier mix
203                           Cocker
204                       Poodle mix
205                            Husky
206                       Pomeranian
207                         Shar Pei
208                        Dachshund
209                          Mastiff
210                      Terrier mix
211               Miniature Pinscher
212                      Spaniel mix
213          Australian Shepherd mix
214                     Shepherd mix
215                              Pug
216              Australian Shepherd
217                     Jack Russell
218                      Blue Healer
219                      Terrier mix

[220 rows x 1 columns]

# KnowYourMeme

This data required quite a bit of curation but very minimal cleaning. Even though this data was compiled straight from the website into Excel by hand, the dataset was still uploaded into OpenRefine to clean any whitespaces, double check spelling, and ensure the uniformity in the date formats. In total, the cleaning aspect of this process took maximum 5 minutes, as there were very few data points being utilized in this set.

In [6]:
meme = pd.read_excel("GenericDogMemes_Breeds_Year.xlsx")
print(meme)

                        Meme Name                Associated Breed  \
0                            Doge                       Shiba Inu
1                    Doggo (term)                             NaN
2              Sleep Tight Pupper                       Chihuahua
3                         Pun Dog                Alaskan Klee Kai
4                     Cupcake Dog              Australian Shepard
5                        Cool Dog                       Shiba Inu
6                    Birthday dog             bichon frise/poodle
7                Yes, this is dog                  black Labrador
8                    Broccoli Dog                       Shiba Inu
9                    Dad joke dog                             NaN
10                 Dumbstruck dog                           Boxer
11  I have no idea what I'm doing                Golden Retriever
12               Who's a good boy                             NaN
13                    Copying dog                             NaN
14                  Egg challenge                Golden Retriever
15                    Frisbee dog                             NaN
16                   Gabe the dog  American Eskimo and Pomeranian

       Associated Date
0   2010 (spread 2013)
1   2014 (spread 2015)
2                 2015
3                 2012
4                 2009
5                 2008
6                 2010
7                 2011
8                 2005
9                 2014
10                2012
11                2010
12                2015
13                2012
14                2009
15                2013
16                2013

# Beginning Combined Datasets

Using the AKC rankings from 2017, the previously mentioned datasets were combined together. The number of breeds represented in the datasets were counted, and a combined dataset was created.

In [7]:
combined = pd.read_excel("CombinedData.xlsx")
print(combined)

        Breed (2017 Ranked Listing)  Breed Class  \
0             Retrievers (Labrador)          NaN
1              German Shepherd Dogs          NaN
2               Retrievers (Golden)          NaN
3                   French Bulldogs          NaN
4                          Bulldogs          NaN
5                           Beagles          NaN
6                           Poodles          NaN
7                       Rottweilers          NaN
8                Yorkshire Terriers          NaN
9     Pointers (German Shorthaired)          NaN
10                           Boxers          NaN
11                 Siberian Huskies          NaN
12                       Dachshunds          NaN
13                      Great Danes          NaN
14            Pembroke Welsh Corgis          NaN
15               Doberman Pinschers          NaN
16             Australian Shepherds          NaN
17             Miniature Schnauzers          NaN
18   Cavalier King Charles Spaniels          NaN
19                         Shih Tzu          NaN
20                  Boston Terriers          NaN
21                      Pomeranians          NaN
22                         Havanese          NaN
23               Shetland Sheepdogs          NaN
24            Bernese Mountain Dogs          NaN
25                        Brittanys          NaN
26      Spaniels (English Springer)          NaN
27                         Mastiffs          NaN
28                Spaniels (Cocker)          NaN
29                          Vizslas          NaN
..                              ...          ...
160               Spaniels (Sussex)          NaN
161                            Pumi          NaN
162                      Komondorok          NaN
163          Spaniels (Irish Water)          NaN
164                   Ibizan Hounds          NaN
165                          Plotts          NaN
166       Spaniels (American Water)          NaN
167             Scottish Deerhounds          NaN
168                         Lowchen          NaN
169               Norwegian Buhunds          NaN
170       Retrievers (Curly-Coated)          NaN
171                   Skye Terriers          NaN
172               Finnish Lapphunds          NaN
173                  Pharaoh Hounds          NaN
174                     Canaan Dogs          NaN
175        Polish Lowland Sheepdogs          NaN
176                   Finnish Spitz          NaN
177     American English Coonhounds          NaN
178                        Chinooks          NaN
179              Pyrenean Shepherds          NaN
180            Bergamasco Sheepdogs          NaN
181         Dandie Dinmont Terriers          NaN
182                        Harriers          NaN
183               Cirneco dell’Etna          NaN
184                  Cesky Terriers          NaN
185                     Otterhounds          NaN
186              American Foxhounds          NaN
187                        Sloughis          NaN
188               English Foxhounds          NaN
189            Norwegian Lundehunds          NaN

    PuppyBowl_Number Contestants (Last 5 Years)  Westminster (all time)  Memes
0                                            11                       0    1.0
1                                             4                       2    NaN
2                                             1                       0    2.0
3                                             1                       0    NaN
4                                             2                       2    NaN
5                                             3                       2    NaN
6                                             5                       9    NaN
7                                             1                       0    NaN
8                                             3                       1    NaN
9                         * Only as mixed breed                       3    NaN
10                                            4                       4    1.0
11                                            1                       1    NaN
12                                            2                       0    NaN
13                                            1                       0    NaN
14                           * Only lists Corgi                       0    NaN
15                                            1                       4    NaN
16                                            6                       0    1.0
17                                            1                       0    NaN
18                                            0                       0    NaN
19                                            7                       0    NaN
20                                            2                       0    NaN
21                                            4                       1    NaN
22                                            5                       0    NaN
23                                            1                       0    NaN
24                                            1                       0    NaN
25                                            2                       0    NaN
26                                            1                       6    NaN
27                                            1                       0    NaN
28                                            3                       4    NaN
29                                            0                       0    NaN
..                                          ...                     ...    ...
160                                         NaN                       1    NaN
161                                         NaN                       0    NaN
162                                         NaN                       0    NaN
163                                         NaN                       1    NaN
164                                         NaN                       0    NaN
165                                         NaN                       0    NaN
166                                           0                       0    NaN
167                                         NaN                       1    NaN
168                                         NaN                       0    NaN
169                                         NaN                       0    NaN
170                                         NaN                       0    NaN
171                                         NaN                       1    NaN
172                                         NaN                       0    NaN
173                                         NaN                       0    NaN
174                                         NaN                       0    NaN
175                                         NaN                       0    NaN
176                                         NaN                       0    NaN
177                                         NaN                       0    NaN
178                                         NaN                       0    NaN
179                                         NaN                       0    NaN
180                                         NaN                       0    NaN
181                                         NaN                       0    NaN
182                                         NaN                       0    NaN
183                                         NaN                       0    NaN
184                                         NaN                       0    NaN
185                                           1                       0    NaN
186                                         NaN                       0    NaN
187                                         NaN                       0    NaN
188                                         NaN                       0    NaN
189                                         NaN                       0    NaN

[190 rows x 5 columns]

This data was then filtered based on which columns possessed the most representation across the board.

In [8]:
text = open("Dogs_to_Search.txt", "r")
readtext = text.read()
print(readtext)

Labrador Retrievers
German Shepherd Dogs
Golden Retrievers
Bulldogs
Beagles
Poodles
Yorkshire Terriers
Boxers
Siberian Huskies
Pembroke Welsh Corgis * just search as corgi
Doberman Pinschers
Australian Shepherds
Shih Tzu
Pomeranians
English Springer Spaniels
Cocker Spaniels
Pugs
Chihuahuas
Shiba Inu
Bichons Frises
Papillons
Pekingese
Brussels Griffons
Wire Fox Terriers

Since I was now only working with a select number of dog breeds, I altered my combined dataset to resemble this. The Breed Class column shown in the dataset below was added after using AKC records based on a recommendation by Elizabeth Wickes. This did not come from a database but was manually compiled.

In [9]:
final = pd.read_excel("FilteredDog_Dataset_Combined.xlsx")
print(final)

                     Breed Name  Ranked Number (AKC)       Breed Class (AKC)  \
0          Retriever (Labrador)                    1                Sporting
1          German Shepherd Dogs                    2        Herding/Guardian
2           Retrievers (Golden)                    3                Sporting
3                      Bulldogs                    5            Non-sporting
4                       Beagles                    6                   Hound
5                       Poodles                    7  Standard/Miniature/Toy
6            Yorkshire Terriers                    9                     Toy
7                        Boxers                   11                 Working
8              Siberian Huskies                   12                 Working
9         Pembroke Welsh Corgis                   15                 Herding
10           Doberman Pinschers                   16                 Working
11         Australian Shepherds                   17                 Herding
12                     Shih Tzu                   20                     Toy
13                  Pomeranians                   22                     Toy
14  Spaniels (English Springer)                   27                Sporting
15            Spaniels (Cocker)                   29                Sporting
16                         Pugs                   31                     Toy
17                   Chihuahuas                   32                     Toy
18                    Shiba Inu                   45            Non-sporting
19               Bichons Frises                   46            Non-sporting
20                    Papillons                   53                     Toy
21                    Pekingese                   88                     Toy
22            Brussels Griffons                   94                     Toy
23          Fox Terriers (Wire)                   99                 Terrier

    PuppyBowl_Number Contestants (Last 5 Years)  Westminster (all time)  \
0                                            11                       0
1                                             4                       2
2                                             1                       0
3                                             2                       2
4                                             3                       2
5                                             5                       9
6                                             3                       1
7                                             4                       4
8                                             1                       1
9                                             3                       0
10                                            1                       4
11                                            6                       0
12                                            7                       0
13                                            4                       1
14                                            1                       6
15                                            3                       4
16                                            3                       1
17                                            8                       0
18                                            1                       0
19                                            0                       2
20                                            1                       1
21                                            1                       4
22                                            2                       0
23                                            2                      14

    KnowYourMeme  Wikipedia Pages  Total Word Count
0              1              NaN               NaN
1              0              NaN               NaN
2              2              NaN               NaN
3              0              NaN               NaN
4              0              NaN               NaN
5              0              NaN               NaN
6              0              NaN               NaN
7              1              NaN               NaN
8              0              NaN               NaN
9              0              NaN               NaN
10             0              NaN               NaN
11             1              NaN               NaN
12             0              NaN               NaN
13             0              NaN               NaN
14             0              NaN               NaN
15             0              NaN               NaN
16             0              NaN               NaN
17             1              NaN               NaN
18             3              NaN               NaN
19             1              NaN               NaN
20             0              NaN               NaN
21             0              NaN               NaN
22             0              NaN               NaN
23             0              NaN               NaN

# Wikipedia

This dataset will likely require some of the most time intensive cleaning and curation. The alphabetized files from other datasets were then run and the counts for each dog breed mentioned was determined. This data was then input into a master file, combining the breeds (in ranked order) from AKC, with columns denoting PuppyBowl, Westminster, and Memes. The rows were filled with how many times each breed was mentioned in each dataset. For example, the Boxer, ranked 11th on AKC popularity, occurred 4 times in the last 5 years of the PuppyBowl, 4 times in Westminster Dog Show, and 1 time in KnowYourMeme. Dogs that possessed data in two or more categories were flagged. Those flagged breeds were then ran through code, received from Elizabeth Wickes, pertaining to the Wikipedia API. This code specifically pulls the namespace, page id, page title, page size, word count, a snippet, and timestamp of last edit and creates a combined JSON file. These 24 breed names then output 24 JSON files of various size.

Wikipedia JSON extraction code was written by and belongs to Elizabeth Wickes (Github: elliewix). The Wikimedia Foundation owns the wikipedia.org domain being utilzied for this project, however it us unclear who owns individual Wikipedia pages and their respective contents.

I ran my filtered results through Elizabeth's extraction code, resulting in a number of JSON files. To get data from all files into a single .csv file, I used the following code:

In [10]:
import json
import csv
import os
import glob

allfiles = glob.glob('*.json')

print(allfiles)
# import os
# going to create a list i.e. listdir(source)
# for file in filepath + file
allrows = []
for path in allfiles:

    infile = open(path, "r")
    text = infile.read()
    infile.close()

    data = json.loads(text)

    for record in data:
        row = []
        row.append(path)
        pagetitle = record['title'].encode('utf-8')
        pageid = record['pageid']
        wordcount = record['wordcount']
        snippet = record['snippet'].encode('utf-8')
        row.append(pagetitle)
        row.append(pageid)
        row.append(wordcount)
        row.append(snippet)
        allrows.append(row)

headers = ['path','pagetitle', 'pageid', 'wordcount', 'snippet']

with open('allresults.csv', 'w', newline='') as outfile:
    csvout = csv.writer(outfile)
    csvout.writerow(headers)
    csvout.writerows(allrows)

['aussieresults.json', 'beagleresults.json', 'bichonresults.json', 'boxerresults.json', 'brusselsresults.json', 'bulldogresults.json', 'chihuahuaresults.json', 'cockerspanielresults.json', 'corgiresults.json', 'dobermanresults.json', 'englishspringerresults.json', 'germanshepresults.json', 'goldenretresults.json', 'labresults.json', 'papillonresults.json', 'pekingeseresults.json', 'pomeranianresults.json', 'poodleresults.json', 'pugresults.json', 'shibaresults.json', 'shih2results.json', 'shihresults.json', 'sibhuskresults.json', 'wirefoxresults.json', 'yorkshireterrierresults.json']

The Python script above was written grabbing the filepaths of each breed JSON file, and exported select information (file name, page id, page title, word count, and snippet) to a new Excel file. This file contains upwards of 15,000 total rows. As suggested by Elizabeth, a Keep column was added. As I go through each file name, I indicate by hand "t" for true or "f" for false. While some pages are obvious in respect to their inclusion, (i.e. the page "Pembroke Welsh Corgi" should be kept), others are harder to judge and may require actually looking up the page on Wikipedia to determine its status. Once completed, all of the "t"s will be filtered out and exported to a new file. This new file will be my official Wikipedia dataset. So far, I have spent upwards of 8 hours on this cleaning aspect. This is a first pass, meaning that the t/f markings are based on initial impression / what I can determine just looking at the information provided within the .csv file.

** I was having trouble uploading my most recent .csv here, so I just called the original one without all of my t/f edits**

In [12]:
editing_wiki = pd.read_csv("allresults.csv")
print(editing_wiki)

                               path  \
0                aussieresults.json
1                aussieresults.json
2                aussieresults.json
3                aussieresults.json
4                aussieresults.json
5                aussieresults.json
6                aussieresults.json
7                aussieresults.json
8                aussieresults.json
9                aussieresults.json
10               aussieresults.json
11               aussieresults.json
12               aussieresults.json
13               aussieresults.json
14               aussieresults.json
15               aussieresults.json
16               aussieresults.json
17               aussieresults.json
18               aussieresults.json
19               aussieresults.json
20               aussieresults.json
21               aussieresults.json
22               aussieresults.json
23               aussieresults.json
24               aussieresults.json
25               aussieresults.json
26               aussieresults.json
27               aussieresults.json
28               aussieresults.json
29               aussieresults.json
...                             ...
15385  yorkshireterrierresults.json
15386  yorkshireterrierresults.json
15387  yorkshireterrierresults.json
15388  yorkshireterrierresults.json
15389  yorkshireterrierresults.json
15390  yorkshireterrierresults.json
15391  yorkshireterrierresults.json
15392  yorkshireterrierresults.json
15393  yorkshireterrierresults.json
15394  yorkshireterrierresults.json
15395  yorkshireterrierresults.json
15396  yorkshireterrierresults.json
15397  yorkshireterrierresults.json
15398  yorkshireterrierresults.json
15399  yorkshireterrierresults.json
15400  yorkshireterrierresults.json
15401  yorkshireterrierresults.json
15402  yorkshireterrierresults.json
15403  yorkshireterrierresults.json
15404  yorkshireterrierresults.json
15405  yorkshireterrierresults.json
15406  yorkshireterrierresults.json
15407  yorkshireterrierresults.json
15408  yorkshireterrierresults.json
15409  yorkshireterrierresults.json
15410  yorkshireterrierresults.json
15411  yorkshireterrierresults.json
15412  yorkshireterrierresults.json
15413  yorkshireterrierresults.json
15414  yorkshireterrierresults.json

                                               pagetitle    pageid  wordcount  \
0                                 b'Australian Shepherd'    514816       4788
1                                         b'Herding dog'    514072       1418
2                         b'Miniature American Shepherd'  37881767        782
3                                     b'German Shepherd'     79289       6086
4                                           b'Dog breed'     79676       3616
5                                  b'Anatolian Shepherd'   1181418       2000
6                                b'Working group (dogs)'   3433154        505
7                                  b'List of dog breeds'      8615        533
8                     b'List of most popular dog breeds'   9387389        411
9                                   b'Breed group (dog)'   1695038        905
10                                b'Kangal Shepherd Dog'   1068967       2527
11                                b'Cumberland Sheepdog'  19452372        243
12                            b'List of dog crossbreeds'  14418001        246
13                                   b'English Shepherd'    291469       1476
14                                          b'Guard dog'   1116804       1567
15                                             b'Collie'    514203       3011
16                                  b'Pyrenean Shepherd'    514714       1277
17                                   b'Belgian Shepherd'    601367       1696
18                                   b'Merle (dog coat)'   1401179       1932
19                                       b'Malinois dog'    603016       1557
20     b'List of fictional dogs in live-action televi...  52975252        121
21                              b'Australian Cattle Dog'    445359       6513
22                                       b'Texas Heeler'  20978311        196
23                                             b'Koolie'    857741       2399
24                                      b'Border Collie'    102136       4995
25                b'FCI Sheepdogs and Cattle Dogs Group'  26603862        359
26                                b'Carea Leon\xc3\xa9s'  29929218        558
27                                      b'Sheep farming'    915258        758
28                                      b'Laekenois dog'    602988        462
29                                         b'Police dog'    537859       3717
...                                                  ...       ...        ...
15385                           b'The Springfield Three'   9773044       1701
15386                               b'Gogglebox Ireland'  52354850        686
15387                                b'European polecat'    291913       7540
15388                                  b'Pauline Fowler'   1963680       8737
15389                   b'Culture of the United Kingdom'    275009      37544
15390                                b'Raj Koothrappali'  19617684       4209
15391            b'List of EastEnders characters (1985)'  10803239      14463
15392                           b'The Sparticle Mystery'  30916051       1188
15393              b'List of minor Blandings characters'   4626533      12076
15394                               b'Black Eye (album)'  21364953       2033
15395  b'List of fictional Prime Ministers of the Uni...    671958       4789
15396                              b'F.C. De Kampioenen'   5988910       1200
15397                b'Beauty and the Beast (2017 film)'  45230258      16329
15398  b"List of Disney's Beauty and the Beast charac...  23767061       7392
15399  b"List of Ripley's Believe It or Not! episodes...  31191005      10852
15400                                 b'South Luffenham'   2186815       4589
15401                          b'Deaths in October 2006'   3916338       6866
15402                              b'Deaths in May 2014'  42617209      11539
15403                       b'Mysteries at the Monument'  39637836        314
15404                                       b'Superbook'   3744572       1982
15405                      b'List of shipwrecks in 1824'  40644154       4237
15406                       b'List of Room 101 episodes'   5761389       1063
15407                         b'History of Chelsea F.C.'   4686545      15677
15408                  b'List of The Archers characters'  13860029      14564
15409  b'List of words having different meanings in A...  24472473       1028
15410               b'List of Warrington Wolves players'  41251094        331
15411                 b'List of Terry and June episodes'   9790944        277
15412                                    b'Talbot Mundy'   1166951      10568
15413                b'List of As Time Goes By episodes'   9276319        113
15414               b'List of American Pickers episodes'  28939576         54

                                                 snippet
0      b'The <span class="searchmatch">Australian</sp...
1      b'Association, <span class="searchmatch">Austr...
2      b'<span class="searchmatch">Shepherd</span>, f...
3      b'The German <span class="searchmatch">Shepher...
4      b'Rough Collie Smooth Collie <span class="sear...
5      b'The Anatolian <span class="searchmatch">Shep...
6      b'Akita Alaskan Malamute Anatolian <span class...
7      b'Club recognize this breed as the Stumpy Tail...
8      b'Tin Tin, the German <span class="searchmatch...
9      b'fci.be/nomenclature.aspx. Pedigree <span cla...
10     b'The Kangal <span class="searchmatch">Shepher...
11     b'extinct <span class="searchmatch">dog</span>...
12     b'This is a list of common <span class="search...
13     b'The English <span class="searchmatch">Shephe...
14     b'Espa\xc3\xb1ol (Spain) Appenzell Cattle <spa...
15     b'white. <span class="searchmatch">Australian<...
16     b'the Great Pyrenees, another mountain <span c...
17     b'The Belgian <span class="searchmatch">Shephe...
18     b'with the African wild <span class="searchmat...
19     b'/\xcb\x88m\xc3\xa6l\xc9\xaanw\xc9\x91\xcb\x9...
20     b'&quot;\'Neighbours\' pet <span class="search...
21     b'The <span class="searchmatch">Australian</sp...
22     b'<span class="searchmatch">dog</span> found m...
23     b'<span class="searchmatch">Australian</span> ...
24     b'second <span class="searchmatch">dog</span> ...
25     b'Berger Blanc Suisse (White Swiss <span class...
26     b'The  Carea Leon\xc3\xa9s (or Leonese <span c...
27     b'managed so sheep can graze pastures, sometim...
28     b'The Laekenois is a breed of <span class="sea...
29     b'breeds are the German <span class="searchmat...
...                                                  ...
15385  b'evidence. Inside the house, Kirby found Levi...
15386  b'sister Gr\xc3\xa1inne is heading off to coll...
15387  b'Edwardes, the creator of the Sealyham <span ...
15388  b'have a <span class="searchmatch">dog</span> ...
15389  b'pony. The UK\'s indigenous <span class="sear...
15390  b'loneliness, Howard and Bernadette give him a...
15391  b'that the pensioner Ethel Skinner (Gretchen F...
15392  b'17 April 2013. https://www.facebook.com/TheS...
15393  b'owns four Pekes (one of which is called Susa...
15394  b'Riot Grrls when in fact they pack as much \'...
15395  b'description of a prosperous and peaceful Bri...
15396  b'Nero <span class="searchmatch">Yorkshire</sp...
15397  b'Gizmo as Frou-Frou, Maestro Cadenza\'s and M...
15398  b'is renamed Frou-Frou and portrayed by Gizmo....
15399  b'towers that are regularly constructed in Cat...
15400  b'villager recollects in 1912 going down the l...
15401  b' Dutch doctor and knee injury specialist. Da...
15402  b'singer (Johnny Clegg), shot. Miss Beazley, 9...
15403  b'Oakville, Washington; visits a war <span cla...
15404  b'by Uri\'s father. Ruffles Peepers (Kikyomu) ...
15405  b'North America. Eagle was refloated on 6 Sept...
15406  b'channels \xe2\x80\xa2 A photograph of hersel...
15407  b'reach the final, the side froze on the day a...
15408  b'run over by Brian Aldridge. Captain Jack Woo...
15409  b') <span class="searchmatch">terrier</span> m...
15410  b'0 signed from Latchford Albion, went to work...
15411  b'getting pets. Before Terry can decide, June ...
15412  b'fox <span class="searchmatch">terrier</span>...
15413  b'to get rid of Mrs. Flack that depends on her...
15414  b'to try and sell his Plymouth (but gets stuck...

[15415 rows x 5 columns]